<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎬 Movie Watchlist</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="hero-container">
        <div class="hero-content">
            <h1><i class="fas fa-film"></i> Create Your VERY OWN Movie Watchlist!</h1>
            <p>Track all the movies you want to watch and mark them as you go!</p>
            <div class="cta-buttons">
                <a href="/login" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
                <a href="/signup" class="btn btn-secondary"><i class="fas fa-user-plus"></i> Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>